@page
@model AdminModel
@{
    ViewData["Title"] = "Admin Panel";
}
<h1>@ViewData["Title"]</h1>

<a asp-page=".\Register" class="btn btn-primary">Add a new user</a>
<a asp-page=".\RegistrationPages\CityRegistration" class="btn btn-primary">Add a new city/parish</a>
<a asp-page=".\RegistrationPages\DrivingCategoryRegistration" class="btn btn-primary">Add a new driving category</a>
<a asp-page=".\RegistrationPages\ExamRegistration" class="btn btn-primary">Add a new exam registration</a>

