@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<h1>Find your registration</h1>
<form method="get">
    <div class="form-group">
        <div class="input-group">
            <input type="search" asp-for="SearchedId" class="form-control" />
        </div>
    </div>
</form>

@if (Model.Registration != null)
{
    <div>Id: @Model.Registration.Id</div>
    <div>TakenAt: @Model.Registration.TakenAt</div>
    <div>Category: @Model.Registration.DrivingCategory.CategoryName</div>
    <div>Exam type: @Model.Registration.ExamType</div>
}

