@page
@model LoginModel
@{
    ViewData["Title"] = "Login Page";
}

<form method="post">
    <div class="form-group">
        <label for="email address">Email address</label>
        <div class="input-group">
            <input type="text" name="Email Address" class="form-control" />
        </div>

        <label for="Password">Password</label>
        <div class="input-group">
            <input type="text" name="Password" class="form-control" />
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Login</button>
</form>
