@page
@model LoginModel
@{
    ViewData["Title"] = "Login Page";
}

<form method="post">
    <div class="form-group">
        <label asp-for="LoginDetails.UserName"></label>
        <div class="input-group">
            <input asp-for="LoginDetails.UserName" class="form-control" />
        </div>

        <label asp-for="LoginDetails.Password"></label>
        <div class="input-group">
            <input asp-for="LoginDetails.Password" class="form-control" />
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Login</button>
    <a asp-page=".\Register" class="btn btn-primary">Register</a>
</form>
