@page
@model RecorderSystem.Pages.RegisterModel
@{
    ViewData["Title"] = "New user";
}

<h1>@ViewData["Title"]</h1>

<div class="row">
    <div class="col-xs-8 col-xs-offset-2">
        <form method="post" class="form-horizontal">
            <div class="form-group">
                <label asp-for="UserType">Please select user Type</label>
                <div class="col-sm-10">
                    <select class="form-select" asp-for="UserType"
                            asp-items="Model.UserTypes"></select>
                    <span class="text-danger" asp-validation-for="UserType"></span>
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
            <div asp-validation-summary="All"></div>
        </form>
    </div>
</div>
